:root {
    --primary-blue: #2563eb;
    --dark-bg: #1e293b;
    --light-gray: #f8fafc;
    --border-color: #e2e8f0;
}

h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    h3{
        text-align: center;
    }


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.form-container {
    background: white;
    max-width: 800px;
    width: 100%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    align-self: center;

}

header {
    margin-bottom: 30px;
    border-bottom: 2px solid var(--light-gray);
    padding-bottom: 10px;
}

h3 {
    color: gray;
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    margin-bottom: 30px;
}

.full-width {
    grid-column: span 2; 
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: 600;
    font-size: 0.9rem;
    color: #475569;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"] {
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    transition: border-color 0.2s;
}

input:focus {
    outline: none;
    border-color: var(--primary-blue);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
    
}

.submit-btn {
    width: 25%;
    padding: 10px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    
}

.submit-btn:hover {
    background-color: #1d4ed8;

}

